h1{
	font-size: 54px;
	font-color: black;
	font-family: "Open Sans";
	align-content: center;
}
p{
	text-indent: 8px;
	font-size: 16px;
	font-color: grey;
	font-family: "Open Sans";
}
img{
	display: inline-block;
	width: 400px;
	height: 500px;
}